/* Main CSS */
#example {
    overflow-x: hidden;
    overflow-y: auto;
}

#example-index {
    display: none;
}

#example:fullscreen {
    font-size: 200%;
    padding: 20px;
}

#example:fullscreen #example-index {
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    font-size: 200%;
    font-weight: bold;
}

.linenodiv {
    opacity:0.4;
}

.icon {
    width: 16px;
    height: 16px;
}

button, select {
    font-size: 1rem;
}

#credits {
    float: right;
}
