#example .hll { background-color: #a39e9b }
#example  { background: #e7e9db; color: #2f1e2e }
#example .c { color: #8d8687 } /* Comment */
#example .err { color: #ef6155 } /* Error */
#example .k { color: #815ba4 } /* Keyword */
#example .l { color: #f99b15 } /* Literal */
#example .n { color: #2f1e2e } /* Name */
#example .o { color: #5bc4bf } /* Operator */
#example .p { color: #2f1e2e } /* Punctuation */
#example .ch { color: #8d8687 } /* Comment.Hashbang */
#example .cm { color: #8d8687 } /* Comment.Multiline */
#example .cp { color: #8d8687 } /* Comment.Preproc */
#example .cpf { color: #8d8687 } /* Comment.PreprocFile */
#example .c1 { color: #8d8687 } /* Comment.Single */
#example .cs { color: #8d8687 } /* Comment.Special */
#example .gd { color: #ef6155 } /* Generic.Deleted */
#example .ge { font-style: italic } /* Generic.Emph */
#example .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
#example .gi { color: #48b685 } /* Generic.Inserted */
#example .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
#example .gs { font-weight: bold } /* Generic.Strong */
#example .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
#example .kc { color: #815ba4 } /* Keyword.Constant */
#example .kd { color: #815ba4 } /* Keyword.Declaration */
#example .kn { color: #5bc4bf } /* Keyword.Namespace */
#example .kp { color: #815ba4 } /* Keyword.Pseudo */
#example .kr { color: #815ba4 } /* Keyword.Reserved */
#example .kt { color: #fec418 } /* Keyword.Type */
#example .ld { color: #48b685 } /* Literal.Date */
#example .m { color: #f99b15 } /* Literal.Number */
#example .s { color: #48b685 } /* Literal.String */
#example .na { color: #06b6ef } /* Name.Attribute */
#example .nb { color: #2f1e2e } /* Name.Builtin */
#example .nc { color: #fec418 } /* Name.Class */
#example .no { color: #ef6155 } /* Name.Constant */
#example .nd { color: #5bc4bf } /* Name.Decorator */
#example .ni { color: #2f1e2e } /* Name.Entity */
#example .ne { color: #ef6155 } /* Name.Exception */
#example .nf { color: #06b6ef } /* Name.Function */
#example .nl { color: #2f1e2e } /* Name.Label */
#example .nn { color: #fec418 } /* Name.Namespace */
#example .nx { color: #06b6ef } /* Name.Other */
#example .py { color: #2f1e2e } /* Name.Property */
#example .nt { color: #5bc4bf } /* Name.Tag */
#example .nv { color: #ef6155 } /* Name.Variable */
#example .ow { color: #5bc4bf } /* Operator.Word */
#example .w { color: #2f1e2e } /* Text.Whitespace */
#example .mb { color: #f99b15 } /* Literal.Number.Bin */
#example .mf { color: #f99b15 } /* Literal.Number.Float */
#example .mh { color: #f99b15 } /* Literal.Number.Hex */
#example .mi { color: #f99b15 } /* Literal.Number.Integer */
#example .mo { color: #f99b15 } /* Literal.Number.Oct */
#example .sa { color: #48b685 } /* Literal.String.Affix */
#example .sb { color: #48b685 } /* Literal.String.Backtick */
#example .sc { color: #2f1e2e } /* Literal.String.Char */
#example .dl { color: #48b685 } /* Literal.String.Delimiter */
#example .sd { color: #8d8687 } /* Literal.String.Doc */
#example .s2 { color: #48b685 } /* Literal.String.Double */
#example .se { color: #f99b15 } /* Literal.String.Escape */
#example .sh { color: #48b685 } /* Literal.String.Heredoc */
#example .si { color: #f99b15 } /* Literal.String.Interpol */
#example .sx { color: #48b685 } /* Literal.String.Other */
#example .sr { color: #48b685 } /* Literal.String.Regex */
#example .s1 { color: #48b685 } /* Literal.String.Single */
#example .ss { color: #48b685 } /* Literal.String.Symbol */
#example .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
#example .fm { color: #06b6ef } /* Name.Function.Magic */
#example .vc { color: #ef6155 } /* Name.Variable.Class */
#example .vg { color: #ef6155 } /* Name.Variable.Global */
#example .vi { color: #ef6155 } /* Name.Variable.Instance */
#example .vm { color: #ef6155 } /* Name.Variable.Magic */
#example .il { color: #f99b15 } /* Literal.Number.Integer.Long */